<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license. -->
<!-- See LICENSE in the project root for license information -->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProjToolV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ProjOn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <ProjToolV2.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="Url" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="ProjectOnLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WaitForQueue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadAllProperties" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SourceLevel" serializeAs="String">
        <value>Critical</value>
      </setting>
      <setting name="WindowsAuthenticationMode" serializeAs="String">
        <value>True</value>
      </setting>
    </ProjToolV2.Properties.Settings>
    <ProjOn.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="Url" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="OnLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WaitForQueue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadAllProperties" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadCustomFields" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SourceLevel" serializeAs="String">
        <value>Critical</value>
      </setting>
    </ProjOn.Properties.Settings>
  </userSettings>
</configuration>